.button-save {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
}

.ico-button {
  border: none;
  background: none;
}

.input-form-field {
  width: 250px;
}

.input-text-overflow {
  text-overflow: ellipsis;
}

.image {
  width: 50px;
  height: 50px;
}

.input-holders {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.errors {
  color: red;
}
