<mat-card class="item-holder">
  <div class="tableLine">
    <div class="userList">
      <img class="user-logo" src="{{contact.avatar}}" alt="User logo here">
      <div class="user-name">{{contact.firstName}}</div>
      <div class="user-lastname">{{contact.lastName}}</div>
      <div class="user-phone">{{contact.phone}}</div>
    </div>
    <div>
      <button mat-icon-button
              [matMenuTriggerFor]="menu"
              class="menuButton">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item
                (click)="editClick(contact)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item
                (click)="deleteClick(contact.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-card>
