.contact-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 5px;
}

.contact-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.contact-line>div>* {
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-logo {
  width: 50px;
  height: 50px;
}

.contact-name {
  width: 250px;
}

.contact-lastname {
  width: 250px;
}

.contact-phone {
  width: 250px;
}

.contact-email {
  width: 250px;
}

.item-holder {
  margin: 5px;
}

.ico-button {
border: none;
background: none;
}
