.button-save {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
}

.input-form-field {
  width: 200px;
}

.image {
  width: 50px;
  height: 50px;
}

.input-holders {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.ico-button {
  border: none;
  background: none;
}
