<form [formGroup]="contactEditForm">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title>
        Edit a contact
      </mat-card-title>
      <button mat-button
              (click)="cancelEditing()"
              class="ico-button">
        <mat-icon>
          clear
        </mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div class="input-holders">
        <img src="{{contactEditForm.controls.avatar.value}}"
             alt="User's avatar..."
             class="image">
        <mat-form-field class="input-form-field">
          <input matInput
                 maxlength="50"
                 cdkFocusInitial
                 type="text"
                 class="input-text-overflow"
                 placeholder="Name"
                 formControlName="firstName">
          <mat-error *ngIf="contactEditForm.controls.firstName.invalid">
            {{getErrorMessage(contactEditForm.controls.firstName)}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-form-field">
          <input matInput
                 maxlength="50"
                 type="text"
                 class="input-text-overflow"
                 placeholder="Lastname"
                 formControlName="lastName">
          <mat-error *ngIf="contactEditForm.controls.lastName.invalid">
            {{getErrorMessage(contactEditForm.controls.lastName)}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-form-field"
                        hintLabel="At least 9 digits">
          <input matInput
                 maxlength="50"
                 type="text"
                 class="input-text-overflow"
                 placeholder="Phone"
                 formControlName="phone">
          <mat-error *ngIf="contactEditForm.controls.phone.invalid">
            {{getErrorMessage(contactEditForm.controls.phone)}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-form-field">
          <input matInput
                 maxlength="50"
                 type="text"
                 class="input-text-overflow"
                 placeholder="Email"
                 formControlName="email">
          <mat-error *ngIf="contactEditForm.controls.email.invalid">
            {{getErrorMessage(contactEditForm.controls.email)}}
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-save">
        <button mat-button
                [disabled]="!contactEditForm.valid"
                (click)="editContact()"
                class="ico-button">
          <mat-icon>
            save
          </mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
